<br><br><h1 class="text-center">All Tasks</h1><br>

<div class="d-flex justify-content-center flex-column align-items-center w-50 mx-auto">
  <% @tasks.each do |task| %>
    <div class="mb-2 w-100">
      <%= link_to task.title, task_path(task), class: "btn #{task.completed ? 'btn-success' : 'btn-danger'} text-start w-100" %>
    </div>
  <% end %>

  <br><strong><%= link_to 'Add', new_path, class: 'btn btn-primary text-center' %></strong>
</div>
