<h1>All Tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= check_box_tag "task_#{task.id}_completed", task.completed, task.completed %>
      <b><%= link_to task.title, task_path(task) %></b>
    </li>
  <% end %>
</ul>

<%= link_to 'Create New Task', new_path %>
